body{
	font-family: Microsoft JhengHei !important;
}
.resume_content input{
 	/*border: none;*/
 	height: 20px;
  	background-color: hsl(229, 5%, 89%);
}
.resume_inner_title{
	height: 50px;
	background-color: hsl(204, 100%, 78%);
	border-radius:10px;
	box-shadow: 1px 3px 5px #888888;
	padding: 5px;
}
.resume_inner_con_title{
	height: 30px;
	background-color: hsl(104, 80%, 78%);
	border-radius:10px;
	box-shadow: 1px 3px 5px #888888;
	padding: 5px;
}
.tel_label{
	height: 20px;
	width: 80px;
	border: none;
  	background-color: hsl(229, 5%, 89%);
}
.fgroup::after{
	content: '';
	display: block;
	clear: both;
}
.fgroup_name{
	float: left;
	width: 20%;
}
.fgroup_title{
	float: left;
	width: 20%;
}
.fgroup_age{
	float: left;
	width: 20%;
}
.fgroup_job{
	float: left;
	width: 20%;
}
.fgroup_bu{
	float: left;
	width: 5%;
}
.workexp_group_country,.workexp_group_star,.workexp_group_end,.workexp_group_class
,.workexp_group_content,.workexp_group_quit{
	float: left;
	width: 15%;
}
.workexp_group_bu{
	float: left;
	width: 3%;
}
.workexp_group::after{
	content: '';
	display: block;
	clear: both;
}
.ftel_group_name,.ftel_group_title,.ftel_group_tel{
	float: left;
	width: 20%;
}
.ftel_group_bu{
	float: left;
	width: 3%;
}
.fami_tel_group::after{
	content: '';
	display: block;
	clear: both;
}
.login{
  width: 100%;
  min-height: 600px;
}
.login_content{
  margin: 100px auto auto auto;
  width: 200px;
}
.login_id input{
  border: none;height: 30px;width: 200px;
  background-color: hsl(0, 3%, 77%);
}
.login_password input{
  border: none;height: 30px;width: 200px;
  background-color: hsl(0, 3%, 77%);
}
.login_send input{
  border: none;height: 30px;width: 100px;
  background-color: rgba(246,200,14,1);
}
.login_id{
  margin-top: 10px;
  height: 30px;
}
.login_password{
  margin-top: 10px;
  height: 30px;
}
.login_send{
  margin-top: 10px;
  height: 30px;
}
#warning_id,#warning_password{
  color: red;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.news_top{
	font-size: 48px;
	font-weight: bolder;
	text-align:left;
	color: hsl(0, 2%, 50%);
}
.news_top_line{
	height: 2px;
	width: 100%;
	background-color: hsl(39, 85%, 54%);
}
.error_message{
	color: red;
	font-size: 12px;
	margin-top: 5px;
	font-weight: bolder;
}
.telephone{
	border: none;
	background-color: hsl(229, 37%, 88%);
}
/*側邊功能選單*/
#slide_toolbar{
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	min-height: 700px;
	background-color: hsl(42, 100%, 90%);
	border-right-style: ridge;
	border-width: 10px;
	padding: 5px;
}
#slide_iframe{
	position: relative;
	float: right;
	width: 80%;
	height: 100%;
	min-height: 700px;
	background-color: hsl(221, 100%, 90%);
	padding: 5px;
}
.wellcome{
	width: 100%;
}
#menuicon{
	float: right;
}
#menuicon:hover{
	width: 34px;
}
.wellname{
	width: 60%;
	float: left;
	font-weight: bold;
	color:hsl(0, 3%, 19%);
}
#logout{
	width: 20%;
	float: left;
}
.wellcome::after{
	content: '';
	display: block;
	clear: both;
}
#add_group_box,#add_staff_box,#edit_staff_box,#edit_group_box{
	display: none;
}
input[id*="foot_"] {
	width: 100%;
}
#err_add_staff,#err_edit_staff{
	display: none;
}
#form_flow_l{
	border: solid;
	border-width: 1px;
	width: 200px;
	float: left;
	height: 300px;
}
#form_flow_m{
	float: left;
}
#form_flow_r{
	border: solid;
	border-width: 1px;
	width: 200px;
	float: left;
	height: 300px;
}
div[id*="page_flow_"]{
	text-align: center;
}
div[id*="page_flow_"]:hover{
background-color: hsl(41, 47%, 77%);
}
.form_flow::after{
	content: '';
	display: block;
	clear: both;
}
#resume_photo img{
	width: 100px;
	height: 100px;
}
.rdatatabble{
	margin-top: 80px;
}
#TableResumeMes_wrapper{
	display: none;
	background-color: hsl(137, 37%, 89%);
	border-width: 30px;
	height: 80%;
}
.contentmenu button{
	margin-top: 5px;
	margin-left: 2px;
	width: 150px;
}
.AdminManageDetail{
	display: none;
}
.AdminManageDetail button{
	margin-left: 20px;
}
#SliderHeightRange,#SliderWeightRange,#SliderAgeRange{
	width: 50%;
}
.resume_content{
	padding: 10px;
}
.resume_content div{
	margin-top: 5px;
}
.resume_permission{
	width: 100px;
}